a {
  text-decoration: none;
}

#page {
  font-family: "AxisStd-Light", "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#pageHead {
  font-family: "AxisStd-Regular","sans-serif";
}
.pageheader {
  background-color: #EEEEEE;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.pagelink {
  width: 980px;
  font-size: 11px;
  padding-top: 3px;
  margin-right: auto;
  margin-left: auto;
}
.pagelink a {
  color: #676767;
}
.pagelink a:hover {
  text-decoration: underline;
}
.pagelink ul {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagelink ul li {
  display: inline-block;
  border-left: solid 1px #676767;
  line-height: 10px;
  margin-right: 1px;
  margin-left: 10px;
  padding-left: 10px;
}
.pagelink li:first-child {
  border-left: none;
}
.pagelink li:nth-child(2) {
  border-left: none;
}
.pagelink li:last-child {
  border-left: none;
}
.first {
  color: #272727;
  padding-right: 210px;
}

.loginlink {
  background-color: #D9D9D9;
  padding: 9px;
  position: absolute;
	bottom: 0;
}
.loginlink a{
  color: #000066;
}
.loginlink a:before {
  content: url("../images/schoolicon.png");
  position: relative;
  top: 7px;
  right: 4px;
}

.imageinfomation {
  max-width: 980px;
  margin: 0 auto;
}
.school {
  margin-top: 0;
  float: left;
}
.acces {
  margin-top: 0;
  float: right;
  margin-right: 0;
}
.advertise {
  padding-bottom: 20px;
  padding-right: 5px
}
.advertise:hover {
  opacity: 0.7;
}

.mainguide {
  content: "";
  clear: both;
  display: flex;
  max-width: 980px;
  margin: 0 auto;
}
.mainguide a {
  color: #272727;
}
.coverguide ul li{
  display: inline-block;
}
.coverguide ul{
  padding-left: 0;
}

.btnnow {
  text-align:center;
  border-right: solid 1px #dcdddd;
  border-left: solid 1px #dcdddd;
  height: 40px;
  font-size: 15px;
  color: #1f286f;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.btn1 {
  position: absolute;
  left: 25px;
  background: url("../images/btn1.png");
  background-repeat: no-repeat;
  background-position:left bottom;
  width:140px;
  height: 10px;
  margin: 0;
}

.btnanother {
  text-align:center;
  border-right: solid 1px #dcdddd;
  height: 40px;
  font-size: 15px;
  color: #272727;
  position: relative;
}
.btnanother a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
}
.btnanother a:hover {
  color: #1f286f;
}
.btnanother a:hover .btn2 {
  background-position:left bottom;
}
.btnanother a:hover .btn3 {
  background-position:left bottom;
}
.btnanother a:hover .btn4 {
  background-position:left bottom;
}
.btn2 {
  position: absolute;
  left: 35px;
  background: url("../images/btn2.png");
  background-repeat: no-repeat;
  width:140px;
  height: 10px;
  margin: 0;
  display: block;
}

.btn3 {
  position: absolute;
  left: 5px;
  background: url("../images/btn3.png");
  background-repeat: no-repeat;
  width:140px;
  height: 10px;
  margin: 0;
  display: block;
}

.btn4 {
  position: absolute;
  left: 20px;
  background: url("../images/btn4.png");
  background-repeat: no-repeat;
  width:140px;
  height: 10px;
  margin: 0;
}

.coverbtn {
  display: flex;
}
.infobtn {
  font-size: 15px;
  border: solid 1px #1f286f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  position: relative;
  margin-right: 20px;
  margin-left: 70px;
}
.infobtn a{
  color: #1f286f;
  display: block;
  padding: 9.5px 37.5px;
}
.infobtn a:after {
  content: url("../images/blueicon.png");
  position: absolute;
  right: 10px;
}
.infobtn a:hover {
  color: #FFFFFF;
}
.infobtn a:hover:after {
  content: url("../images/whiteicon.png");
  position: absolute;
  right: 10px;
}

.infobtn2 {
  font-size: 15px;
  border: solid 1px #1f286f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  position: relative;
}
.infobtn2 a{
  color: #1f286f;
  display: block;
  padding: 9.5px 60px;
}
.infobtn2 a:after {
  content: url("../images/blueicon.png");
  position: absolute;
  right: 10px;
}
.infobtn2 a:hover {
  color: #FFFFFF;
}
.infobtn2 a:hover:after {
  content: url("../images/whiteicon.png");
  position: absolute;
  right: 10px;
}

.colorchange :hover {
  background-color: #1f286f;
}

.T {
  width: 980px;
  margin: 0 auto;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #181836;
  position: relative;
  left: 60px;
}

.backgroundguide {
  background-color: #181836;
  position: relative;
}
.subguide {
  line-height: 30px;
  width: 980px;
  margin: 0 auto;
  display: flex;
}
.subguide ul {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.subguide ul li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}
.subguide ul li a {
  color: #FFFFFF;
  padding-left: 4px;
  padding-right: 4px;
  display: block;
}
.subguide ul li a:hover {
  color: #1f286f;
}
.subguide ul li:hover {
  background-color: #FFFFFF;
}

.pagetitle {
  background-image: url("../images/mainimage.jpg");
  background-size: cover;
  margin-top: 0;
  height: 550px;
  width: auto;
}
.catchcopy {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  color: #FFFFFF;
  font-size: 52px;
  letter-spacing: 15px;
  position: relative;
}
.imagearea {
  text-align: center;
  padding-top: 10px;
}
.about {
  width: 100px;
}

.catchcopy:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;/*線の上下位置*/
  width: 200px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  background-color: #FFFFFF;/*線の色*/
}

#topic {
  width: 980px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #272727;
  font-size: 14px;
}
#topic a {
  color: #36538d;
  font-size: 14px;
}
#topic a:hover {
  text-decoration: underline;
}
.right {
  vertical-align: middle;
}

#pageBodyhead{
  border-bottom: solid 1px #e1e1e1;
}

.phrase {
  text-align: center;
  color: #272727;
  margin-top: 80px;
}
.phrase h2 {
  font-size: 35px;
  font-weight: normal;
  line-height: 60px;
  padding-bottom: 30px;
  letter-spacing: 0.2em
}
.phrase h3 {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.7em;
}
.phrase h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;/*線の上下位置*/
  width: 200px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  background-color: #272727;/*線の色*/
}
.phrase p {
  display: inline-block;
  text-align: left;
  line-height: 1.7em;
  font-size: 16px;
}

.maintopic1 {
  width: 980px;
  margin: 0 auto;
  line-height: 40px;
}
.maintopic1 h3 {
  font-weight: normal;
  font-size: 26px;
  border-bottom: 1px solid #272727;
  position: relative;
  padding-bottom: 10px;
}
.maintopic1 h3:after {
	content: "";
	position: absolute;
	left: 0;
	width: 40%;
  bottom: -1px;
	border-bottom: 3px solid #272727;
}

.content1 {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  padding-right: 10px;
  border-right: 1px solid #272727;
}
.content2 {
  display: inline-block;
  padding-left: 10px;
  font-size: 19px;
}

.images1 {
  float: right;
}

.textlink {
  width: 610px;
  height: 300px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 15px;
  margin-top: 130px;
}
.textlink a {
  color: #272727;
}
.textlink:hover img {
  opacity: 0.7;
}
.textlink h4 {
  line-height: 10px;
  font-size: 22px;
  font-weight: 500;
  font-family: "AxisStd-Regular","sans-serif";
}
.textlink p {
  line-height: 30px;
  font-size: 16px;
}
.textimages {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.blackicon {
  padding-right: 8px;
}
.readmore {
  width: 70px;
  height: 13px;
}

.maintopic2 {
  width: 980px;
  margin: 0 auto;
  margin-top: 100px;
}
.maintopic2 h2 {
  border-bottom: 1px solid #272727;
  position: relative;
  font-weight: normal;
  font-size: 25px;
  margin-top: 80px;
  padding-bottom: 10px;
  font-family: "AxisStd-Regular","sans-serif";
}
.maintopic2 h2:after {
	content: "";
	position: absolute;
	left: 0;
  width: 40%;
  bottom: -1px;
	border-bottom: 3px solid #272727;
}
.maintopic2 h3 {
  border-bottom: 1px solid #272727;
  width: 470px;
  margin-top: 100px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 400;
}
.maintopic2 p {
  font-size: 16px;
}
p.additional {
  font-size: 12px;
  margin: 0;
}

.maincontene2 {
  display: flex;
}

.images2 {
  width: 400px;
  height: 500px;
  margin-top: 100px;
  margin-left: 100px;
}

.maintopic3 {
  width: 980px;
  margin: 0 auto;
}
.maintopic3 h3 {
  border-bottom: 1px solid #272727;
  width: 470px;
  padding-bottom: 30px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: normal;
}
.maintopic3 p {
  font-size: 16px;
}
.maincontene3 {
  display: flex;
}
.images3 {
  margin-top: 60px;
  margin-left: 30px;
}

.background {
  background-color: #EEEEEE;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 100px;
}

.Heading {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}
.Heading h2 {
  position: relative;
  display: inline;
  padding-top: 50px;
  font-weight: 500;
  font-size: 33px;
  font-family: "AxisStd-Regular","sans-serif";
  margin-bottom: 1px;
}
.Heading h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  display: inline-block;
  width: 250px;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: black;/*線の色*/
}
.Heading p {
  margin-top: 40px;
  font-size: 16px;
}

.maincontene {
  display: flex;
}
.maintopic {
  width: 980px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 120px;
}
.maintopic a {
  color: #272727;
  display: block;
}
.proicon {
  background-color: black;
  width: 90px;
  padding: 5px;
  height: 15px;
}

.textright {
  margin-left: 20px;
}
.textright h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}
.textright p {
  font-size: 16px;
  line-height:27px;
}
.textright :hover {
  opacity: 0.7;
}

.images {
  width: 670px;
  height: 500px;
}

.textleft {
  margin-right: 20px;
}
.textleft h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}
.textleft p {
  font-size: 16px;
  line-height:27px;
}
.textleft :hover {
  opacity: 0.7;
}
p.small {
  font-size: 12px;
}

#pageBodySub {
  margin: 0 auto;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  margin-top: 200px;
}
.banner img:hover {
  opacity: 0.7;
}

.tableinfo {
  border-collapse: separate;
  border-spacing: 50px 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.tableinfo tr th {
  background-color: #FFFFFF;
  width: 400px;
  height: 130px;
  padding: 10px 30px;
  border: 3px solid;
	border-image: url("../images/border-image.png") 33% / 8px 8px repeat;
  text-align: left;
  background-repeat: no-repeat;
  position: relative;
}
.tableinfo tr th a:after {
  content: url("../images/blackicon.png");
  position: absolute;
  top: 50px;
  right: 30px;
}
.tableinfo tr th a {
  font-size: 25px;
  font-weight: normal;
  color: #272727;
  margin: 0;
  display: block;
  padding-right: 40px;
}
.tableinfo tr th p {
  font-size: 13px;
  font-weight: 400;
  color: #272727;
  margin: 0;
}

.tableinfo th:hover {
  opacity: 0.7;
}
.tableinfo tr th:hover {
  background-image: url("../images/border-image.png");
  background-repeat: repeat;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.movie {
  margin-top: 140px;
  margin-left: 20px;
}
.moviearea {
  width: 980px;
  margin: 0 auto;
}

.fourinfomation {
  background-image: url("../images/backgroundimages.png");
  margin-top: 140px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  height: 80px;
  margin: 0 auto;
  justify-content: center;
}
.infotop {
  text-align: center;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size:20px;
  letter-spacing: 3px;
}

.info1 {
  background-color: rgba(255,255,255,1);
  width: 255px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 50px;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}
.info1 a {
  color: #272727;
  display: block;
}
.info1 a:after {
  content: url("../images/blackicon.png");
  position: absolute;
  top: 10px;
  left: 235px;
}
.info1:hover {
  background-color: rgba(255,255,255,0.7);
}

.info2 {
  color: #FFFFFF;
  font-size: 12px;
  width: 250px;
  margin-top: 15px;
  display: flex;
  text-align: center;
}
.Tel:hover {
  opacity: 0.7
}

.info3 {
  background-color: rgba(255,255,255,1);
  width: 255px;
  height: 50px;
  margin-bottom: 40px;
  margin-right: 83px;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}
.info3 a {
  color: #272727;
  display: block;
}
.info3 a:after {
  content: url("../images/blackicon.png");
  position: absolute;
  top: 13px;
  left: 230px;
}
.info3:hover {
  background-color: rgba(255,255,255,0.7);
}

.info4 {
  border: 1px solid #FFFFFF;
  width: 210px;
  height:25px;
  font-size: 13px;
  margin-top: 13px;
  text-align: center;
  padding: 5px 2px;
  position: relative;
}
.info4 p {
  margin: 0;
  margin-top: 4px;
}
.info4 a {
  color: #FFFFFF;
  display: block;
}
.info4 a:after {
  content: url("../images/whiteicon.png");
  position: absolute;
  top: 10px;
  left: 190px;
}
.info4 a:hover {
  text-decoration: underline;
}

.imageicon {
  vertical-align: middle;
  padding-right: 15px;
  margin-left: 15px;
}

.othertopic {
  text-align: center;
  margin-top: 40px;
}

.plusoneinfo {
  border-collapse: separate;
  border-spacing: 25px;
  margin: 0 auto;
}

.plusoneinfo tr th {
  background-color: #FFFFFF;
  width: 500px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid;
	border-image: url("../images/border-image.png") 33% / 8px 8px repeat;
  background-repeat: no-repeat;
  position: relative;
}
.plusoneth p {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
}
.plusoneth a {
  display: block;
  color: #272727;
}
.plusoneth {
  position: relative;
}
.pluslinkicon {
  position: absolute;
  right: 23px;
  bottom: 40px;
}
.plusoneth:hover {
  opacity: 0.7;
  background-image: url("../images/border-image.png");
  background-repeat: repeat;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}

.Njr {
  width: 130px;
  height: 35px;
}

.nepps {
  width: 130px;
  height: 40px;
}

#pageFoot {
  width: 980px;
  margin: 0 auto;
}

.underlink {
  font-size: 16px;
  display: flex;
}
.underlink ul {
  padding-left: 0;
  margin-top: 60px;
}
.underlink ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #989cbb;
}
.underlink ul li:last-child {
  border-right: none;
  margin-right: 100px;
}
.underlink ul li a {
  color: #000066;
}
.underlink ul li a:hover {
  text-decoration: underline;
}

.pticon {
  margin-top: 40px;
}
.pticon img:hover {
  opacity: 0.7;
}

.bottominfo div {
  width: 170px;
  float: left;
  margin-right: 15px;
}
.bottominfo h5 a {
  color: #000066;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}
.bottominfo h5 a:hover {
  text-decoration: underline;
}
.bottominfo ul {
  padding-left: 0;
}
.bottominfo ul li {
  list-style: none;
  text-align: left;
  line-height: 25px;
}
.bottominfo ul li a{
  color: #272727;
  font-size: 14px;
  font-family: "AxisStd-Light,sans-serif";
}
.bottominfo ul li a:hover {
  text-decoration: underline;
}

.rubi {
  font-size: 10px;
  margin-bottom: 0;
}
.rubi a {
  color: #000066;
  font-family: "AxisStd-Regular","sans-serif";
}
.rubi2 {
  margin-top: 0;
  font-family: "AxisStd-Regular","sans-serif";
}

.onecontent {
  border-top: 1px solid #ddd;
  width: 150px;
  padding-top: 20px;
}

.background2 {
  background-color: #EEEEEE;
  margin-top: 100px;
}

#endcredit {
  content: "";
  display: block;
  clear: both;
  width: 980px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content:space-between;
}

.leftmenue {
  display: flex;
  font-size: 15px;
  padding-top: 10px;
}
.leftmenue a {
  color: #272727;
}
.leftmenue a:hover {
  text-decoration: underline;
}
.space {
  margin-right: 20px;
}
.rightmenue {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
}

.iconset {
  display: flex;
  margin-right: 10px;
  padding-left: 10px;
}
.rightmenue a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.rightmenue a {
  color: #272727;
  border-left: 1px solid #ddd;
  padding: 3px;
}
.rightmenue a:first-child{
  border-left: none;
}

.icontext {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
  position: relative;
  font-family: "AxisStd-Light","sans-serif";
}

.snsicon {
  margin-top: 2px;
  margin-right: 5px;
}

.linkpoint {
  float: right;
  padding-top: 4px;
}

#endback {
  background-color: #272727;
}

.endinfo {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

.copyrightarea {
  font-size: 11px;
}
.copyrightarea a {
  color: #999999;
}
.copyrightarea a:hover {
  text-decoration: underline;
}
#copyright {
  color: #999999;
  font-size: 11px;
}
